.App {
  width: 300px;
  height: 400px;
  padding: 20px 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 10px;
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 100, .8);
}

.nav-bar__title {
  font-size: 16px;
  text-align: center;
}

.nav-bar__title--group {
  margin-top: -16px;
}

/* List */
.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list__item {
  padding: 5px 0;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}

.list__item:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);
}

.list__item:hover .delete-button {
  display: inline;
}

.list__empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */
.deep-link {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.deep-link:hover .delete-button {
  display: inline;
}

/* Add item */
.add-item {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.add-item__field--error {
  border-color: red;
}

.add-item__actions {
  display: flex;
  justify-content: center;
}
.add-item__actions > * {
  flex: 1;
}

/* Back button */
.back-button {
  z-index: 1;
}

.back-button:hover {
  cursor: pointer;
}

/* Delete buttons */
.delete-button {
  display: none;
  padding: 0 10px;
}
.delete-button:hover {
  color: red;
  cursor: pointer;
}
